/* #region UTILITY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Circular Std', sans-serif;
}

:root {
    --volume: rgba(128, 179, 43, 1);
    --secondary: rgba(20, 25, 34, 1);
    --light: rgba(255, 255, 255, 1);
    --primary: rgba(8, 11, 18, 1);
    --txt: rgba(126, 128, 133, 1);
    --icon: rgba(126, 128, 133, 1);
}

a {
    text-decoration: none;
    color: var(--icon);
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* #endregion UTILITY */

/* #region COMMON */

.d_flex {
    display: flex;
}

.dir_column {
    flex-direction: column;
}

[class^="sidebarr_up"] {
    color: var(--icon);
}

#recently_played .row .card h4 {
    color: var(--light);
}

#recently_played .row .card span {
    color: var(--txt);
}


/* #region GRID */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_6 {
    width: calc(100% / 12 * 6);
}

/* #endregion GRID */

/* #endregion COMMON */

/* #region DEBUG */


.debug .sidebarr_up {
    background-color: darkblue;
}

.debug .sidebarr_down {
    background-color: darkslateblue;
    border: 1px solid white;
}

.debug .content {
    background-color: cornflowerblue;
}

.debug footer.bottom {
    background-color: chartreuse;
}

.sidebarr_up .playlist {
    border: 1px solid gray;
}

/* #endregion DEBUG */

/* #region TOP */

.top>.sidebarr {
    width: 80px;
}

/* #region sidebarrUP */

.top .sidebarr_up {
    height: calc(100% - 50px);
    background-color: var(--primary);
    padding: 1rem;
}

.sidebarr_up a {
    color: var(--icon);
}

.playlist {
    max-width: 100%;
    height: 25%;
    overflow-y: auto;
}

/* #endregion sidebarrUP */

/* #region content */

.top .content {
    width: calc(100% - 80px);
    background-color: var(--secondary);
    padding: 1rem;
    overflow-y: hidden;
    overflow-y: auto;
}

.content ul li {
    padding: 0.5rem;
}

.content nav {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

/* #region recently_played*/

.recently_played h3 {
    color: var(--light);
}



/* #endregion recently_played*/

/* #endregion content */


.top .sidebarr_down {
    height: 50px;
    background-color: var(--primary);
}

/* #region TOP */


/* #region FOOTER */

footer.bottom {
    height: 80px;
    position: sticky;
}



/* #endregion FOOTER */


/* #region MEDIAquery */
@media screen and (min-width: 768px) {

    .top>.sidebarr {
        width: 200px;
    }

    .top>.content {
        width: clac(100% - 200px);
        height: 100vh;
        overflow-y: auto;
    }

    .col_md_2 {
        width: calc(100% / 12 * 2);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }
}

@media screen and (min-width: 1200px) {

    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .col_lg_3 {
        width: calc(100% / 12 * 3);
    }

}


/* #endregion MEDIAquery */