/* region UTILITY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Circular Std', sans-serif;
}

:root {
    --volume: rgba(128, 179, 43, 1);
    --secondary: rgba(20, 25, 34, 1);
    --light: rgba(255, 255, 255, 1);
    --primary: rgba(8, 11, 18, 1);
}

/* endregion UTILITY */

/* #region COMMON */

.d_flex {
    display: flex;
}

.dir_column {
    flex-direction: column;
}

/* #endregion COMMON */

/* #region DEBUG */


.debug .sidebarr_up {
    background-color: darkblue;
}

.debug .sidebarr_down {
    background-color: darkslateblue;
    border: 1px solid white;
}

.debug .content {
    background-color: cornflowerblue;
}

.debug footer.bottom {
    background-color: chartreuse;
}



/* #endregion DEBUG */

/* #region TOP */

.top {
    height: calc(100vh - 80px);
}

.top > .sidebarr {
    width: 80px;
}

.top .sidebarr_up {
    height: calc(100% - 50px);
    background-color: var(--primary);
}

.top .sidebarr_down {
    height: 50px;
    background-color: var(--primary);

}


.top > .content {
    width: calc(100% - 80px);
}



/* #region TOP */


/* #region FOOTER */

footer.bottom {
    height: 80px;
}

/* #endregion FOOTER */


/* #region MEDIAquery */
@media screen and (min-width: 768px) {

    .top>.sidebarr {
        width: 200px;
    }

    .top>.content {
        width: clac(100% - 200px)
    }
}

/* #endregion MEDIAquery */