/* #region UTILITY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Circular Std', sans-serif;
}

:root {
    --volume: rgba(128, 179, 43, 1);
    --secondary: rgba(20, 25, 34, 1);
    --light: rgba(255, 255, 255, 1);
    --primary: rgba(8, 11, 18, 1);
    --txt: rgba(126, 128, 133, 1);
    --icon: rgba(126, 128, 133, 1);
}

a {
    text-decoration: none;
    color: var(--icon);
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
}

#create #popular #{
    padding: 1rem;
}

#popular .radius img{
    border-radius: 50%;
}



/* #endregion UTILITY */

/* #region COMMON */

.d_flex {
    display: flex;
}

.dir_column {
    flex-direction: column;
}
.txt_center{
    text-align: center;
}

.inner{
    overflow-y: auto;
}

[class^="sidebar"] {
    color: var(--icon);
}

#recently_played .row .card h4 {
    color: var(--light);
    padding: 0 0.5rem;
}

#recently_played .row .card span {
    color: var(--txt);
    padding: 0 0.5rem;
}
#create span {
    color: var(--txt);
    padding: 0 0.5rem;
}
#create h3 {
    color: var(--light);
    padding: 0 0.5rem;
}
#popular span {
    color: var(--txt);
    padding: 0 0.5rem;
}
#popular h3 {
    color: var(--light);
    padding: 0 0.5rem;
}

.card{
    padding: 0 0.5rem;
}



/* #region GRID */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_6 {
    width: calc(100% / 12 * 6);
}

/* #endregion GRID */

/* #endregion COMMON */

/* #region DEBUG */


.debug .sidebar_up {
    background-color: darkblue;
}

.debug .sidebar_down {
    background-color: darkslateblue;
    border: 1px solid white;
}

.debug .content {
    background-color: cornflowerblue;
}

.debug footer.bottom {
    background-color: chartreuse;
}


/* #endregion DEBUG */

/* #region TOP */

.top{
    height: calc(100vh - 80px);
}

.sidebar{
    width: 80px;
    background-color: var(--primary);
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.top .sidebar_up {
    height:100%;
    background-color: var(--primary);
    padding: 1rem;
}

.lg_sidbar_up img{
    width: 30px;
}
.sx_sidbar_up img{
    width: 10px;
}
.sx_sidebar_down .sx_icon_sidebar{
    color: var(--txt);
    width: 20px;
}

.lg_sidebar_up{
    display: none;
}

.lg_sidebar_down{
    display: none;
}


.sidebar a {
    color: var(--icon);
}

.playlist{
    max-width: 100%;
    height: 25%;
    overflow-y: auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--light);
}



/* #region content */

.top .content {
    width: calc(100% - 80px);
    background-color: var(--secondary);
}

.content ul li {
    padding: 0.5rem;
}

.content nav {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.content_top{
    height: 80px;
    background-color: var(--primary);
    position: sticky;
    top: 0;
}

/* #region recently_played*/
#recently_played{
    padding: 1rem;
}

#recently_played h3 {
    color: var(--light);
    padding: 0 0.5rem;
}

/* #endregion recently_played*/



/* #endregion TOP */


/* #region FOOTER */

footer.bottom {
    height: 80px;
    position: sticky;
    bottom: 0;
    background-color: var(--primary);
}



/* #endregion FOOTER */


/* #region MEDIAquery */

@media screen and (min-width: 568px){
    .content{
        width: calc(100% - 200px);
        overflow-y:auto ;
    }
    .sidebar{
        width: 200px;
    }
    .sidebar_up, .sidebar_down, .sidebar_playlist{
        display: block;
    }
    .sx_sidbar_up, .sx_sidbar_down{
        display: none;
    }
}


@media screen and (min-width: 768px) {

    .top>.sidebar {
        width: 200px;
    }

    .top>.content {
        width: clac(100% - 200px);
        height: calc(100vh - 80px);
    }

    .col_md_2 {
        width: calc(100% / 12 * 2);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }
}

@media screen and (min-width: 1200px) {

    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .col_lg_3 {
        width: calc(100% / 12 * 3);
    }

}


/* #endregion MEDIAquery */